@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-teal);
$app-accent: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);
body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.app-content {
  padding: 4px;
  height: 100%;
}
/* 
 Targets following selectors:
 <a class="mat-button">...</a>
 <a class="mat-raised-button">...</a>
 <button class="mat-button">...</button>
 Does not target following selectors:
 <a class="mat-button override">...</a>
 <a class="mat-raised-button" override>...</a>
*/
.mat-button:not(.override), .mat-button:not([override]), .mat-raised-button:not(.override), .mat-raised-button:not([override]) {
  text-transform: uppercase;
}

.mat-toolbar.mat-primary, .mat-menu-content {
  background: blue;
}

.active{
  color:yellow;
}

.result{
  color: green;
  font-weight: bold
}
